doctype 5
html
  head
    title I like pie
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://login.persona.org/include.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  body

    a(href='https://github.com/jedp/persona-example', id='fork_me')
      img(src='/img/github.png')

    form(method='POST')
      input(type='hidden', id='_csrf', name='_csrf', value='#{csrf_token}')

    #header
      ul#persona
        li#loggedout
          a(href='#', id='login')
            img(src="img/persona-login.png") Sign in with Persona
        li#loggedin Logged in as 
          span#email
          span
           a(id="logout", href='#') logout
        li#loading Loading ...

    #content
      h1 your ad here

    script(src='/js/auth.js')

